spring:
  application:
    name: TOTAL-SCORE
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/total_score_db}
    username: ${DB_USERNAME:total_score_user}
    password: ${DB_PASSWORD:Zxcvbn123}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: ${DB_CONNECTION_TIMEOUT:30000}
      idle-timeout: ${DB_IDLE_TIMEOUT:30000}
      max-lifetime: ${DB_MAX_LIFETIME:30000}
      minimum-idle: ${DB_MIN_IDLE:1}
      maximum-pool-size: ${DB_MAX_POOL_SIZE:10}
      pool-name: Hikari
  ##Jpa configurations
  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate.database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        format_sql: true
    show-sql: false
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
    generate-ddl: true
  jackson:
    serialization:
      fail-on-empty-beans: false
    property-naming-strategy: SNAKE_CASE